<div [ngStyle]="{'opacity':opacity}" class="show-container">
  <div class="bg-blurry"></div>
  <div class="foreground">
    <h2>{{show.title}}</h2>
    <div class="row">
      <div class="col-md-6">
        <div [innerHTML]="show.description"></div>
        <div>
          With the participation of :
          <div class="row" *ngFor="let entry of show.participants | mapToIterable">

            <div class="col-sm-4">
              <i style="text-transform: capitalize; font-size: 0.8em; font-color: grey">{{entry.key}} : </i>
            </div>
            <div class="col-sm-8" style="white-space: normal;">
              <span *ngFor="let person of entry.value" style="padding-right: 20px; white-space: nowrap; display: inline-block;">{{person}}</span>
            </div>
          </div>

        </div>
				<div *ngIf="show.representations.length">
					Represented at:
					<div class="row" *ngFor="let rep of show.representations">
						<div class="col offset-sm-4 col-sm-8">
							{{ rep }}
						</div>
					</div>
				</div>
      </div>
      <div class="col-md-6 text-center">
        <div class="row">
          <div
          class="image-shadow"
          style="margin: auto; max-width: 90%;max-height: 500px; overflow: "
            >
          <img *ngIf="show.pictureLink"
            style="max-width: 100%; height: auto"
            [src]="show.pictureLink"
            />
          </div>
        </div>
        <br/>
        <a *ngIf="show.picturesLink"  href="{{show.picturesLink}}" target="blank">More pictures</a>
      </div>
      <button class="video-button"*ngIf="show.videoLink" (click)="toggleVideo = !toggleVideo">Video</button>
      <div *ngIf="show.videoLink" class="video-container" [class.show-video]="toggleVideo">
        <div class="video-appear" >
          <iframe style="height: 100%; width: 100%;"  [src]="show.videoLink | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
