// h1 {
//   font-size: 10vh;
//   width: 100vw;
//   height: 100vh;
//   text-align: center;
//   padding-top: 40vh;
// }

.navbar {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  // box-shadow: 0 0 100px 100px #fff0 inset, 0 0 100px 100px white inset;
  // background: radial-gradient(ellipse at center, rgba(240,240,255,1) 0%, rgba(240,240,255,0) 30%);
  transition: height 0.2s, box-shadow .2s, background .2s, font-size .2s;
}

.navbar.reduced {
  height: 70px;
  font-size: 1em;
  box-shadow: #68686b 0px 0px 10px 0px;
  // background: radial-gradient(ellipse at center, #d89f6999 0%, #d89f6999 100%);
  background-image: url(https://live.staticflickr.com/891/41523178931_b58544e221_k.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter:contrast(0.8) sepia(1.10) brightness(100%) ;
}

.navbar-nav {
  flex-direction: row;
}
.nav-item {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.gap-filler {
  width: 100vw;
  height: 100vh;
  transition: all 0.2s;
}
.gap-filler.reduced {
  height: 80px;
}

.inner-section {
  width: 100%;
  height: auto;
}

.main-title {
  font-size: 10vh;
  text-shadow: 0 0 1px black;
  text-align: center;
  transition: all .2s;
  width: auto; margin: auto;
  position: relative;
}

.main-title a:hover {
  color: #111;
  text-decoration: none;
  font-style:normal;
}

.main-title::after{
  // content: '.';
  color: #fff1;
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  box-shadow: 0 0 50px 50px white;
  transition: box-shadow .5s, background-color .5s;
}


.navbar.reduced .main-title {
  font-size: 2em;
}
.navbar.reduced .main-title::after {
  box-shadow: 0 0 0 0 #fff0;
  background: transparent;
}




p {
  text-indent: 20px;
}

.head-section {
  opacity: 0.5;
  transition: 0.25s all;
  text-shadow: 0 0 7px white;
}

.head-section-clicked {
  opacity: 1;
  text-shadow: 0 0 7px white;
}

.show-container {
  background-color: #ffffff80;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0px;
  border: 1px solid #ffffff60;
  box-shadow: 0px 2px 5px 1px grey;
  position: relative;
}

.bg-blurry {
  background-image: url('https://live.staticflickr.com/891/41523178931_b58544e221_k.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(4px) sepia(1.05) contrast(0.2) brightness(177%);
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
}

.foreground {
  padding: 20px;
  position: relative;
}
