<!--The content below is only a placeholder and can be replaced.-->
<!-- <wind class="" style="position: fixed; z-index: -1;"></wind> -->
<div
  style="position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-image: url('https://live.staticflickr.com/891/41523178931_b58544e221_k.jpg');
    background-size: cover;
    filter: sepia(0.3)">
</div>

<router-outlet></router-outlet>
<footer>
   <div class="container">
      <p class="text-center">
         Groupe Aery | 2019
      </p>
      <p class="text-center">
        Site créé par Quentin "Johnny" Guye
      </p>
   </div>
</footer>
